
{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collection</title>
    <link rel="stylesheet" href="static/assignment.css">
</head>

<body>

    <hr>
    <main>
        <!-- form for data collection-->
        <form action="{{url_for('data')" method="post">
            {{ form.hidden_tag() }}
            <!--section for identification purposes-->
            <div id="identification">
                <h2 id="info">First things first!</h2>
                <!-- input fields for name, student number and email and make them all required to fill in-->
                {{ form.f_name.label }}
                {{ form.f_name(placeholder="Enter your first name") }}

                {{ form.l_name.label }}
                {{ form.l_name( placeholder="Enter your last name") }} <br>

                {{ form.student_number.label }}
                {{ form.student_number( placeholder="Enter you P number") }} <br>

                {{ form.email.label }}
                {{ form.email( placeholder="Enter you student email") }}
            </div>
            <!--questionaire section-->
            <div id="questionaire">
                <p></p>
                <h2 id="form">Fill in the form.</h2>
                <p>
                    <!--provide a dropdown for student to select what course they are in so that feedback can go to the right areas accordingly-->
                    {{ form.qn_one.label }}
                    {{ form.qn_one() }}

                </p>
                <p>
                <!--use radio buttons for grade selection and only one radio button can be submitted-->
                {{ form.qn_two.label }}
                <ul>
                    {% for subfield in form.qn_two %}
                    <li>
                        {{ subfield }} {{ subfield.label }}
                    </li>
                    {% endfor %}
                </ul>

                </p>
 <!--text area for providing feedback-->
                <p>
                    {{ form.qn_three.label(placeholder="Write here" }}
                    {{ form.qn_three(row=6, cols=80) }}

                </p>
                <!-- provide a slider for the students to measure they satisfaction levels-->
                <p>
                    {{ form.qn_four.label }}
                    <input type="range" min="1" max="10" step="1">
                    {{ form.qn_four() }}
                </p>

                <p>
                    {{ form.qn_five.label(placeholder="Write here" }}
                    {{ form.qn_five(row=6, cols=80) }}

                </p>

                <p class="q">Q6: What do you like about GIC?</p>
                <!-- use check boxes to select multiple options-->

                    {{ form.teacher.label }}
                    {{ form.teacher() }}
                <br>
                {{ form.friends.label }}
                {{ form.friends() }}
                <br>
                {{ form.location.label }}
                {{ form.location() }}
                <br>
                {{ form.curr.label }}
                {{ form.curr() }}

                <p>
                    {{ form.qn_seven.label(placeholder="Write here" }}
                    {{ form.qn_seven(row=6, cols=80) }}
                </p>

                <p class="q">
                    Q8: How would you rate this questionnaire?
                </p>
                <p>
                    {{ form.qn_eight.label }}
                <ul>
                    {% for subfield in form.qn_two %}
                    <li>
                        {{ subfield }} {{ subfield.label }}
                    </li>
                    {% endfor %}
                </ul>

            </div>
            <!--provide a button for the student to submit the form-->
            {{ form.submit() }}

        </form>
    </main>
    <footer>
        <!--provide a contact for the student to use in case they need help-->
        <a href="contactGIC@gmail.com">Contact Us</a>
    </footer>
</body>


</html>
{% endblock %}