
{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collection</title>
    <link rel="stylesheet" href="static/assignment.css">
</head>

<body>

    <hr>
    <main>
        <!-- form for data collection-->
        <form action="{{url_for('data')" method="post">
            {{ form.hidden_tag() }}
            <!--section for identification purposes-->
            <div id="identification">
                <h2 id="info">First things first!</h2>
                <!-- input fields for name, student number and email and make them all required to fill in-->
                {{ form.f_name.label }}
                {{ form.f_name(placeholder="Enter your first name", required=True) }}

                {{ form.l_name.label }}
                {{ form.l_name( placeholder="Enter your last name", required=True) }} <br>

                {{ form.student_number.label }}
                {{ form.student_number( placeholder="Enter you P number", required=True) }} <br>

                {{ form.email.label }}
                {{ form.email( placeholder="Enter you student email", required=True) }}
            </div>
            <!--questionaire section-->
            <div id="questionaire">
                <p></p>
                <h2 id="form">Fill in the form.</h2>
                <p>
                    <!--provide a dropdown for student to select what course they are in so that feedback can go to the right areas accordingly-->
                    {{ form.qnone.label }}
                    {{ form.qnone() }}

                </p>
                <p>
                <!--use radio buttons for grade selection and only one radio button can be submitted-->
                {{ form.qntwo.label }}
                <ul>
                    {% for subfield in form.qntwo %}
                    <li>
                        {{ subfield }} {{ subfield.label }}
                    </li>
                    {% endfor %}
                </ul>

                </p>
 <!--text area for providing feedback-->
                <p>
                    {{ form.qnthree.label }}
                    {{ form.qnthree(row=6, cols=80) }}

                </p>
                <!-- provide a slider for the students to measure they satisfaction levels-->
                <p>
                    {{ form.qnfour.label }}
                    <input type="range" min="1" max="10" step="1">
                    {{ form.qnfour() }}
                </p>
                
                <p>
                    <label class=" q" for="q5">Q5: Is there anything you would change about the curriculum?</label>
                </p>
                <p><textarea placeholder="Write your feedback here" rows="6" cols="80"></textarea></p>
                <p class="q">Q6: What do you like about GIC?</p>
                <!-- use check boxes to select multiple options-->
                <p>
                    <label for="1">Teacher</label>
                    <input id="1" type="checkbox" value="teachers">

                </p>
                <p><label for="2">Friends</label>
                    <input id="2" type="checkbox" value="friends">
                </p>
                <p><label for="3">Location</label>
                    <input id="3" type="checkbox" value="location">
                </p>
                <p><label for="4">Curriculum</label>
                    <input id="4" type="checkbox" value="Curriculum">
                </p>
                <p>
                    <label class="q" for="q6">Q7: Is there any other feedback you would like to add?</label>
                </p>
                <p><textarea placeholder="Write your feedback here" rows="6" cols="80"></textarea></p>
                <p class="q">
                    Q8: How would you rate this questionaire?
                </p>
                <p><input id="vgd" type="radio" value="vgd" name="level">
                    <label for="vgd">Very Good</label>
                    <input id="gd" type="radio" value="gd" name="level">
                    <label for="gd">Good</label>
                    <input id="neutral" type="radio" value="neutral" name="level">
                    <label for="neutral">Neutral</label>
                    <input id="neutral" type="radio" value="bad" name="level">
                    <label for="neutral">Bad</label>
                    <input id="neutral" type="radio" value="vbad" name="level">
                    <label for="neutral">Very Bad</label>

            </div>
            <!--provide a button for the student to submit the form-->
            <button id="button" type="submit">Submit</button>

        </form>
    </main>
    <footer>
        <!--provide a contact for the student to use in case they need help-->
        <a href="contactGIC@gmail.com">Contact Us</a>
    </footer>
</body>


</html>
{% endblock %}